:root {
    --primary-color: #007bff;
    --secondary-color: #dc3545;
    --edit-color: #ffc107;
    --edit-hover-color: #e0a800;
    --delete-hover-color: #c82333;
    --background-color: #f8f9fa;
    --text-color: #333;
    --border-color: #dee2e6;
}

.admin-container {
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
    background-color: var(--background-color);
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    color: var(--text-color);
}

.admin-header {
    text-align: center;
    border-bottom: 2px solid var(--border-color);
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.admin-button {
    display: block;
    width: fit-content;
    margin: 0 auto 20px;
    background-color: var(--primary-color);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.admin-button:hover {
    background-color: #000e1d;
}

.post-item {
    background: white;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post-controls button {
    background-color: var(--secondary-color);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    margin-left: 5px;
    cursor: pointer;
}

.post-controls button.edit {
    background-color: var(--edit-color);
}

.post-controls button.edit:hover {
    background-color: var(--edit-hover-color);
}

.post-controls button.delete:hover {
    background-color: var(--delete-hover-color);
}


.input-field, .textarea-field {
    width: 100%; 
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    box-sizing: border-box; 
}

.textarea-field {
    height: 150px; 
    resize: vertical; 
}

.admin-form button {
    display: block; 
    width: 100%; 
    margin-top: 10px;
}
