body {
    background-color: #f0f2f5;
    font-family: 'Arial', sans-serif;
}

.link {
    text-decoration: none; 
    color: inherit; 
}

h1 {
    color: #ff6584; /* Título en rosa */
    margin-bottom: 20px;
    text-align: center;
}

.card {
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    transition: transform 0.3s ease-in-out;
    border: none; /* Sin borde */
    border-radius: 10px; /* Bordes redondeados */
    background-image: linear-gradient(to bottom, #ffffff, #ece9e6); /* Gradiente suave */
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 24px rgba(0,0,0,0.3);
}

.card-body {
    padding: 25px;
}

.card-title {
    color: #343a40;
    font-size: 20px;
}

.card-subtitle {
    color: #6c757d;
    font-style: italic;
}

.card-text {
    font-size: 14px;
    line-height: 1.8;
}

@media (max-width: 768px) {
    .card {
        margin: 10px;
    }
}


/* Estilos para la imagen */
.image-post {
    max-width: 100%;
    height: auto; 
    display: block; 
    margin: 0 auto; 
}

/* Estilos adicionales para dispositivos pequeños */
@media (max-width: 768px) {
    .image-post {
        max-width: 100%;
    }
}
