.login-container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.25);
    max-width: 360px;
    margin: 5% auto 0;
    background-image: linear-gradient(to right top, #65dfc9, #6cdbeb); /* Fondo con gradiente */
}

.input-group {
    margin-bottom: 25px;
}

.input-group input {
    height: 50px;
    border: 2px solid #dee2e6;
    font-size: 16px;
    background-color: transparent; /* Fondo transparente */
    color: #ffffff; /* Texto blanco */
}

.btn-primary {
    background-color: #ff6584; /* Botón rosa */
    border: none;
    padding: 12px 0;
    width: 100%;
    font-size: 18px;
    letter-spacing: 1px;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #ff2e63; /* Rosa más oscuro al pasar el mouse */
}

@media (max-width: 768px) {
    .login-container {
        padding: 20px;
        margin-top: 10%;
    }
}
